Repository hashgard/hashgard, pull requests merged in 2019-04, with the labels that each got.

#30 repair some warning
  app/export.go
  app/genesis_test.go
  go.sum
  x/issue/tests/keeper_test.go
  x/issue/tests/querier_test.go
Labels: enhancement

#33 Refactor issue.
  cmd/hashgardcli/main.go
  go.sum
  x/issue/client/cli/parse.go
  x/issue/client/cli/query.go
  x/issue/client/cli/tx.go
  x/issue/client/module_client.go
  x/issue/client/queriers/query.go
  x/issue/client/rest/query.go
  x/issue/client/rest/tx.go
  x/issue/errors/issue_errors.go
  x/issue/handlers/handle_msg_issue_finish_minting.go
  x/issue/handlers/handle_msg_issue_mint.go
  x/issue/keeper/keeper.go
  x/issue/msgs/msg_issue.go
  x/issue/msgs/msg_issue_burn.go
  x/issue/msgs/msg_issue_finish_minting.go
  x/issue/tags/tags.go
  x/issue/tests/keeper_test.go
  x/issue/tests/querier_test.go
  x/issue/tests/test_common.go
  x/issue/types/coin_info.go
  x/issue/types/keys.go
  x/issue/utils/issue_utils.go
Labels: R4R, enhancement, m-issue

#48 Add english specification for module `issue`
  docs/en/hashgardcli/issue/README.md
  docs/en/hashgardcli/issue/burn-any-off.md
  docs/en/hashgardcli/issue/burn-any.md
  docs/en/hashgardcli/issue/burn-from-off.md
  docs/en/hashgardcli/issue/burn-from.md
  docs/en/hashgardcli/issue/burn-off.md
  docs/en/hashgardcli/issue/burn.md
  docs/en/hashgardcli/issue/create.md
  docs/en/hashgardcli/issue/describe.md
  docs/en/hashgardcli/issue/finish-minting.md
  docs/en/hashgardcli/issue/list.md
  docs/en/hashgardcli/issue/mint.md
  docs/en/hashgardcli/issue/query.md
  docs/en/hashgardcli/issue/search.md
  docs/en/hashgardcli/issue/transfer-ownership.md
  docs/zh/hashgardcli/bank/sign.md
  docs/zh/hashgardcli/issue/describe.md
Labels: R4R, doc, m-issue

#50 Reformat submit-proposal and repair link
  docs/cli/hashgardcli/gov/submit-proposal.md
Labels: R4R, doc
